{% extends 'base.html' %}

{% block content %}

    <div id = "app">

        <!--
        <form action = "">
            <div class="form-group row">
                <div class="col-9">
                    <label for = "">Create new task</label>
                    <input type = "text" class = "form-control" v-model = "task">
                </div>
                <div class="col-auto mt-auto">
                    <button class = "btn btn-success" type = "submit">Create</button>
                </div>
            </div>
        </form>
        -->

        <div class="mt-5">
            <div class="card mb-3" v-for="task, index in tasks" :key="index">
                <div class="card-body justify-content-between px-4">
                    <h5 class = "card-title">{ task.title }</h4>
                    <p class = "card-text">{ task.description }</p>
                    <a href="#" class="btn btn-warning btn-sm" style = "margin-right: 5px">edit</a>
                    <a href="#" class="btn btn-danger btn-sm">delete</a>
                </div>
            </div>
        </div>

    </div>

{% endblock %}