{% extends 'base.html' %}

{% block content %}

    <div id = "app">

        <h2>{ message }</h2>
        
        <br>

        <form @submit.prevent = "createTask">
            <div class="form-group">
                <input 
                type = "text" 
                class = "form-control mb-1" 
                v-model = "task.title" 
                placeholder = "enter task title">
                <input 
                type = "text" 
                class="form-control form-control-sm mb-1" 
                v-model = "task.description"
                placeholder="enter task description">
            </div>

            <div class="col-auto mt-auto">
                <button class = "btn btn-primary" type = "submit">create new task</button>
            </div>
        </form>

        <div class="mt-5">
            <div class="card mb-3" v-for="task, index in tasks" :key="index">
                <div class="card-body justify-content-between px-4">
                    <h5 class = "card-title">{ task.title }</h4>
                    <p class = "card-text">{ task.description }</p>

                    <!-- if complete, strikethrough -->
                    <button v-if = "task.status === 'complete'" class="btn btn-outline-warning btn-sm disabled" style = "margin-right: 5px">mark complete</button>
                    <button v-else class="btn btn-warning btn-sm" style = "margin-right: 5px" @click = "editTask(task)">mark complete</button>
                    
                    <button class="btn btn-danger btn-sm" @click = "deleteTask(task)">delete</button>
                </div>
            </div>
        </div>

    </div>

{% endblock %}